<title>{$system.web_title}</title>
<meta name="keywords" content="{$system.web_keywords}">
<meta name="description" content="{$system.web_description}">
<meta name="viewport" content="width=device-width, initial-scale=1">

<script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>

<script src="https://cdn.dowebok.com/131/js/wow.min.js"></script>
<link rel="stylesheet" href="https://www.dowebok.com/demo/2014/98/animate.min.css">
<script>
    var wow = new WOW({
        boxClass: 'wow',
        animateClass: 'animated',
        offset: 0,
        mobile: true,
        live: true
    });
    wow.init();
</script>
<!--<script>-->
<!--    if (!/Android|webOS|iPhone|iPod|BlackBerry/i.test(navigator.userAgent)) {-->

<!--    }else {-->
<!--        url = window.location.href-->
<!--        // newurl = url.replace(/\/index\//i,"/m/");-->
<!--        // if(url===newurl){-->
<!--        window.location.href ='/m/index/index.html';-->
<!--        // }else{-->
<!--        //     window.location.href =newurl;-->
<!--        // }-->

<!--    }-->
<!--&lt;!&ndash;</script>&ndash;&gt;-->
<!--<style>-->
<!--    /*tp分页样式*/-->
<!--    .pagination {}-->
<!--    .pagination li {-->
<!--        display: inline-block;-->
<!--        margin-right: 10px;-->

<!--        border: 1px solid #e2e2e2;-->
<!--        min-width: 20px;-->
<!--        text-align: center;-->
<!--        width: 30px;-->
<!--        height: 30px;-->
<!--        line-height: 30px;-->

<!--    }-->
<!--    .pagination li.active {-->
<!--        background: rgb(51,106,166);;-->
<!--        color: #fff;-->
<!--        border: 1px solid rgb(51,106,166);-->
<!--        width: 30px;-->
<!--        height: 30px;-->
<!--        text-align: center;-->
<!--        line-height: 30px;-->

<!--    }-->
<!--    .pagination li a {-->
<!--        display: block;-->
<!--        text-align: center;-->
<!--        width: 30px;-->
<!--        height: 30px;-->

<!--    .line-height: 30px;-->
<!--    }-->

<!--</style>-->

<!--<a href="/link.html">-->
<!--    <div class="wapp  "-->
<!--         style="background-color: rgb(18,150,219);position: fixed;bottom: 120px;right: 30px;height: 50px;width: 50px;z-index: 99999999;border-radius: 100%;text-align: center">-->
<!--        <svg style="    height: 50px;-->
<!--    width: 35px;" t="1634266217361" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="26358" width="200" height="200"><path d="M611.6 618.7l18.6-27.9c111-46.3 189.1-155.8 189.1-283.6C819.2 137.5 681.7 0 512 0S204.8 137.5 204.8 307.2c0 127.8 78.1 237.3 189.1 283.6l18.6 27.9C177.5 637.2 0 719.8 0 819.2 0 932.3 229.2 1024 512 1024s512-91.7 512-204.8c0-99.4-177.5-182-412.4-200.5zM358.4 307.2c0-84.8 68.8-153.6 153.6-153.6s153.6 68.8 153.6 153.6S596.8 460.8 512 460.8 358.4 392 358.4 307.2z m153.6 512c-197.9 0-358.4-45.8-358.4-102.4 0-46.6 109.6-85.7 258.9-98L512 768l99.5-149.2c149.3 12.4 258.9 51.4 258.9 98 0 56.6-160.5 102.4-358.4 102.4z" fill="#ffffff" p-id="26359" data-spm-anchor-id="a313x.7781069.0.i11" class="selected"></path></svg>-->
<!--    </div>-->
<!--</a>-->


<!--<a href="tel:136 8768 9891">-->
<!--    <div class="wapp  "-->
<!--         style="position: fixed;bottom: 50px;right: 30px;height: 50px;width: 50px;z-index: 99999999;background-color: #fff;border-radius: 100%;text-align: center">-->
<!--        <svg style="    height: 50px;-->
<!--    width: 50px;" t="1629507478740" class="icon" viewBox="0 0 1024 1024" version="1.1"-->
<!--             xmlns="http://www.w3.org/2000/svg" p-id="2713" width="200" height="200">-->
<!--            <path d="M508.778 26.228c-269.053 0-487.942 218.891-487.942 487.942s218.891 487.942 487.942 487.942 487.942-218.877 487.942-487.93-218.891-487.956-487.942-487.956zM687.241 769.57c-172.769 0-429.534-274.05-429.534-417.997 0-57.549 49.616-96.489 91.027-96.489 43.787 0 118.415 126.279 118.415 152.986 0 18.814-8.124 32.126-14.637 42.831-5.066 8.301-8.055 13.489-8.383 19.47 6.718 21.012 85.333 99.396 107.534 107.287 5.899-0.518 13.366-4.41 21.259-8.519 12.37-6.445 27.771-14.473 46.586-14.473 30.078 0 158.748 83.927 158.748 118.429 0.014 65.604-37.37 96.475-91.013 96.475z"-->
<!--                  p-id="2714" fill="#1296db"></path>-->
<!--        </svg>-->
<!--    </div>-->
<!--</a>-->